@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: #0E1538;
}

.box{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
}

.box:before{
  content: '';
  position: absolute;
  width: 40%;
  height: 130%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}

.box__reverse::before{
  animation: animate-reverse 4s linear infinite;
}

.box::after{
  content: '';
  position: absolute;
  inset: 4px;
  background: #0E1538; 
  border-radius: 20px;
}

@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.box-title{
  position: relative;
  color: #FFF;
  font-size: 10rem;
  z-index: 1;
}